# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE files
.vscode/
*.swp
*.sublime-project
*.sublime-workspace
.idea/

# Logs and local configs
*.log
.env
